@font-face {
  font-family: "Rubik";
  font-weight: normal;
  src: url("font/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("font/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  src: url("font/Rubik-Bold.ttf");
}
