* { box-sizing: border-box; }
html { font: 14px/1.2 rubik, helvetica, sans-serif; }
* { margin: 0; padding: 0; }
h1 { font-size: 130%; }
h2 { font-size: 110%; font-weight: normal; }
h2 { color: #666; }
p { color: #333; }
body { padding: 1em; }
h2 { margin-bottom: .5rem; }
.sc { text-transform: uppercase; }
.sc { font-size: 80%; }
a { text-decoration: none; }
p { margin-bottom: .5rem; }
img { width: 100%; }
b { font-weight: bold; }

img:not(:hover) { opacity: 0.7; }
img { transition: 1s ease all; }

a:not(:visited) { color: mediumblue; }

body { display: flex; flex-wrap: wrap; }

.project { position: relative; }

.project a {
  position: absolute;
  bottom: .5rem; left: .75rem;
}

.project a { color: white !important; text-transform: lowercase; }
.project a { text-shadow: 0px 0px 35px rgba(0, 0, 0, 1.0); }

.project:hover { cursor: pointer; }

@media (min-width: 800px) {
  html { font-size: 20px; }
  header { width: 18rem; }
  body > * { margin: .25rem 1rem; }
  body { max-width: 50rem; margin: 0 auto; }
}

.projects { display: flex; flex-wrap: wrap; }
.projects { max-width: calc(8rem * 3); box-sizing: content-box; }
.project { width: 8rem; height: 8rem; }

.updates { max-width: 30rem; }

.project { font-size: 110%; }

.date { color: #666; font-size: 80%; }
.date { display: inline-block; width: 6em; }

ul { list-style-type: none; }