* { box-sizing: border-box; }
html { font: 14px/1.2 "Fantasque Sans Mono", courier; }
* { margin: 0; padding: 0; }
h1 { font-size: 130%; }
h2 { font-size: 110%; font-weight: normal; }
h2 { color: #666; }
p { color: #333; }
h2 { margin-bottom: .5rem; }
.sc { text-transform: uppercase; }
.sc { font-size: 85%; }
a { text-decoration: none; }
p { margin-bottom: .5rem; }
img { width: 100%; }
b { font-weight: bold; }

img:not(:hover) { opacity: 0.7; }
img { transition: 1s ease all; }

a:not(:visited) { color: mediumblue; }

main { display: flex; flex-wrap: wrap; }

.project { position: relative; }

.project a {
  position: absolute;
  bottom: .5rem; left: .75rem;
}

.project a { color: white !important; text-transform: lowercase; }
.project a { text-shadow: 0px 0px 35px rgba(0, 0, 0, 1.0); }

.project:hover { cursor: pointer; }

@media (min-width: 800px) {
  html { font-size: 20px; }
  header { width: 18rem; }
}

.projects { display: flex; flex-wrap: wrap; }
.projects { max-width: calc(8rem * 3); box-sizing: content-box; }
.project { width: 8rem; height: 8rem; }

.updates { max-width: 30rem; }

.project { font-size: 110%; }

.date { color: #666; font-size: 80%; }
.date { display: inline-block; width: 6em; }

ul { list-style-type: none; }

header {
  background-image: url(img/house.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  padding: 1rem;
  color: white;
  font-size: 230%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 4px black, 0 0 20px black;
  border-bottom: 1rem solid yellow;
}

header h2, header p { color: white; }

article { margin: 1rem; }
article { max-width: 50%; }