* { box-sizing: border-box; }
html {
  font-size: 16px;
  font-family: times, "times new roman", "georgia", serif;
  line-height: 1.5;
  counter-reset: article;
}

h1, h2, h3 { font-family: helvetica; }

h1 {
  font-size: 1.2rem;
  margin: 0 0 .5em 0;
  letter-spacing: -0.02em;
  color: #222;
  text-align: left;
  line-height: 1;
}

h2 { margin: 0 0 .25em 0; }

article { text-align: justify; }

article h2::before {
  counter-increment: article;
  content: counter(article) ". ";
}

h1 div {
  float: right;
}

#byline {
  font-size: 1rem;
  /* background-color: yellow; */
  /* border: 2px solid #cc0; */
  /* border-radius: .5em; */
  padding: .1em 0 0 .5em;
  font-weight: 500;
}

h1 a {
  border: 0;
}

body.story {
  max-width: 40em;
  margin: 2rem auto;
}

details { display: none; }

.map-icon.dim {
  background-color: lightgrey;
  border-color: grey;
}

#title { font-weight: bold; }

aside p:first-child { margin-top: 0; }

body.story #mapdiv {
  height: 300px;
  width: 300px;
  float: left;
  margin: .3rem 1rem 0 0;
}

aside {
  display: none;
}

aside p {
  text-align: justify;
}

aside a {
  float: right;
  border: 0;
  background-color: ivory;
  color: black;
  padding: 0 .4em;
  border-radius: 50%;
}

aside.visible {
  display: block;
}

summary {
  cursor: pointer;
}

summary { outline: 0; }

.map-icon {
  background-color: #ff6;
  border-radius: 50%;
  width: 21px !important;
  height: 21px !important;
  border: 2px solid #cc0;
  text-align: center;
  font-weight: bold;
}

body {
  padding-bottom: 4rem;
  margin: 1rem;
}

h2, h3 { font-size: inherit; }
a { color: inherit; text-decoration: none; border-bottom: 1px solid currentcolor; }

#mapdiv { height: 700px; border: 1px solid #aaa; }

coords { display: none; }

.guide { display: flex; }
.map { flex-grow: 1; }

.stories { margin-top: 2rem; }
.stories h2 { font-weight: normal; }
.stories { padding: 0 2rem 0 1rem; }

article:hover h2 {
  text-decoration: underline;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.leaflet-popup-content {
  font-size: 1rem;
  font-family: times, "times new roman", serif;
  line-height: 1.2;
}

.leaflet-popup-content p {
  text-align: justify;
}

.leaflet-popup-content b {
  font-family: helvetica, arial, sans-serif;
}

article { cursor: pointer; }

.story .stories { display: none; }