* { box-sizing: border-box; }
html {
  font-size: 16px;
  font-family: times, "times new roman", "georgia", serif;
  line-height: 1.5;
}

h1, h2, h3 { font-family: helvetica; }

h1 {
  font-size: 1.2rem;
  margin: 0 0 .5em 0;
  letter-spacing: -0.02em;
  color: #222;
  text-align: left;
  line-height: 1;
}

h2 { margin: 0 0 .25em 0; }

article { text-align: justify; }

h1 div {
  float: right;
}

h1 span {
  font-size: 1rem;
  /* background-color: yellow; */
  /* border: 2px solid #cc0; */
  /* border-radius: .5em; */
  padding: .1em .5em;
  font-weight: 500;
}

h1 a {
  border: 0;
}

body.story {
  max-width: 40em;
  margin: 2rem auto;
}

.map-icon.dim {
  background-color: lightgrey;
  border-color: grey;
}

body.story .stories,
body.story header { display: none; }

body.story #mapdiv {
  height: 300px;
  width: 300px;
  float: left;
  margin: 0 1rem 0 0;
}

aside {
  display: none;
}

aside p {
  text-align: justify;
}

aside a {
  float: right;
  border: 0;
  background-color: ivory;
  color: black;
  padding: 0 .4em;
  border-radius: 50%;
}

aside.visible {
  display: block;
}

summary {
  cursor: pointer;
}

summary { outline: 0; }

.map-icon {
  background-color: #ff6;
  border-radius: 50%;
  width: 21px !important;
  height: 21px !important;
  border: 2px solid #cc0;
  text-align: center;
  font-weight: bold;
}

body { padding-bottom: 4rem; max-width: 65em; margin: 1rem auto; }

@media (max-width: 65em) {
  h1 { padding: 0 1rem; }
}

h2, h3 { font-size: inherit; }
a { color: inherit; text-decoration: none; border-bottom: 1px solid currentcolor; }

article { margin: 1.5rem 0 0; }

#mapdiv { height: 700px; border: 1px solid #aaa; }

coords { display: none; }

.stories {
  display: flex;
  flex-wrap: wrap;
}

.stories article {
  width: 50%;
  flex-shrink: 0;
  padding: 0 1rem;
}