* { box-sizing: border-box; }
html {
  font-size: 14px;
  font-family: Rubik;
  line-height: 1.3;
  counter-reset: article;
}

h1, h2, h3 { font-family: Rubik; }

h1 {
  font-size: 1.2rem;
  margin: 0 0 .5em 0;
  letter-spacing: -0.02em;
  color: #222;
  text-align: left;
  line-height: 1;
}

h2 { margin: 0 0 .25em 0; }

/*
article h2 .number {
  border-radius: 50%;
  font-weight: 500;
  display: inline-block;
  width: 1.5em;
  background: yellow;
  text-align: center;
  border: 1px solid #cc0;
  vertical-align: top;
  margin-right: .5em;
}
*/

article h2 .name {
  display: inline-block;
  max-width: 20em;
}

h1 div {
  float: right;
}

#byline {
  font-size: 1rem;
  /* background-color: yellow; */
  /* border: 2px solid #cc0; */
  /* border-radius: .5em; */
  padding: .1em 0 0 .5em;
  font-weight: 500;
}

h1 a {
  border: 0;
}

body.story {
  max-width: 40em;
  margin: 2rem auto;
}

details { display: none; }

.map-icon.dim {
  background-color: lightgrey;
  border-color: grey;
}

#title { font-weight: bold; }

aside p:first-child { margin-top: 0; }

body.story #mapdiv {
  height: 300px;
  width: 300px;
  float: left;
  margin: .3rem 1rem 0 0;
}

aside {
  display: none;
}

aside a {
  float: right;
  border: 0;
  background-color: ivory;
  color: black;
  padding: 0 .4em;
  border-radius: 50%;
}

aside.visible {
  display: block;
}

.summary {
  display: none;
  cursor: pointer;
}

summary { outline: 0; }

.leaflet-container {
  font: inherit;
}

article h2 .number {
  margin-right: .25em;
  vertical-align: top !important;
}

article h2 { line-height: 23px; }

article h2 .number, .map-icon {
  display: inline-block;
  background-color: #ff6;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 20px -5px rgba(20,20,0,0.75);
  -moz-box-shadow: 4px 4px 20px -5px rgba(20,20,0,0.75);
  box-shadow: inset 1px 1px 12px -5px rgba(20,20,0,0.75);
  width: 23px !important;
  height: 23px !important;
  line-height: 21px !important;
  border: 1px solid #cc0;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
}

body {
  padding-bottom: 4rem;
  margin: 1rem;
}

h2, h3 { font-size: inherit; }
a { color: inherit; }
/* text-decoration: none; border-bottom: 1px solid currentcolor; } */

#mapdiv { height: 92vh; border: 1px solid #aaa; }

coords { display: none; }

.guide { display: flex; }
.map { flex-grow: 1; }

.stories { flex-basis: 26rem; }
.stories { margin-top: 2rem; }
.stories h2 { font-weight: normal; }
.stories { padding: 0 2rem 0 1rem; }

article:hover h2 .name {
  text-decoration: underline;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.leaflet-popup-content {
  font-size: 1rem;
  font-family: rubik;
  line-height: 1.4;
  text-align: justify;
}

.leaflet-popup-content p {
  margin: .5em 0;
}

.leaflet-popup-content b {
  font-family: rubik;
}

article { cursor: pointer; }

.story .stories { display: none; }